extends layout
block content
    h1= title
    p Welcome to #{title}
    p Math.fround() is applied to #{ss1} is #{sj1}
    p Math.random() is applied to #{ss2} is #{sj2}
    p Math.round() is applied to #{ss3} is #{sj3}
    